<!DOCTYPE html>
<html>
<head>
    <title>PYroMAT - Property Info</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
    Header from nav.html
</header>

<h3>Something Colored by CSS</h3>
<p>Nav stuff goes here</p>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</div>
</body>

</html>