{% extends "nav.html" %}
{% block content %}
    <div id="sidebar">
    <h3>Select Substance</h3>
        <select id="sel-substance">
            {% for subst in subst_list %}
                <OPTION value={{subst}}>{{subst}}</option>
            {% endfor %}
        </select>
        <button id="btnDetails" onclick="changeSubstance();">Details</button>
    </div>
    <br>
    <div id="Point Entry Form">
    <form>
        <label for="T">Temperature:</label>
        <input type="number" id="T" value="300">
        <br>
        <label for="p">Pressure:</label>
        <input type="number" id="p" value="2">
        <br>
        <label for="s">Entropy:</label>
        <input type="number" id="s" value="1">
        <br>
        <input type="button" value="Add Point" id = "submit"
           onClick = "addPoint()">
    </form>
    </div>

    <br>

    <br><br>
    <div id="subst-info">
        <h3>Results</h3>
        Critical Point Properties
        <p id="critical-table"></p>
        <br>

        <div id="testplot" style="width:600px;height:400px;"></div>

        Specified Points
        <p id="point-table"></p>

    </div>



    <script>
        // Global Vars
        // Data holders
        var crit_pt;
        var steam_dome;
        var isobars;
        var points;

        // Plot controls
        var x_prop = 's';
        var y_prop = 'T';


        // Convert a JSON dict of arrays to a table
        function jsonToTable(data, targetContainer){
            // The columns will be the dict keys
            let col = [];
            for (let key in data) {
                col.push(key);
            }

            let table = document.createElement("table");

            // Fill the header with keys
            let tr = table.insertRow(-1);
            for (let i = 0; i < col.length; i++) {
                let th = document.createElement("th");
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            // the data fill the rows
            for (let i = 0; i < data[Object.keys(data)[0]].length; i++) {
                tr = table.insertRow(-1);
                for (let j = 0; j < col.length; j++) {
                    let tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = data[col[j]][i].toFixed(2);
                }
            }
            // Add it to the HTML document
            targetContainer.innerHTML = "";
            targetContainer.appendChild(table);
        }


        function changeSubstance() {
            let subst = document.getElementById("sel-substance").value;
            let divContainer = document.getElementById("critical-table");
            let server_data = {"subst": subst};
            points = undefined;

            $.ajax({
                type: "POST",
                url: "/critical",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    console.log("Critical:");
                    crit_pt = result;
                    jsonToTable(crit_pt, divContainer);
                }
            });
            $.ajax({
                type: "POST",
                url: "/steam_dome",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    console.log("Steam Dome:");
                    steam_dome = result;
                    for (let key in steam_dome[1]){
                        steam_dome[1][key].reverse();
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "/isobars",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    console.log("Isobars:");
                    isobars = result;
                    redrawPlot();
                }
            });
            let infoContainer = document.getElementById("subst-info");
            infoContainer.style.display = "block";
            let plotContainer = document.getElementById("testplot");
            plotContainer.style.display = "block";
        }

        function addPoint() {
            let subst = document.getElementById("sel-substance").value;

            let Tval = document.getElementById("T").valueAsNumber;
            let sval = document.getElementById("s").valueAsNumber;
            let pval = document.getElementById("p").valueAsNumber;

            let server_data = {
                "subst": subst,
                "props":{"T": Tval, "s": sval, "p": pval}
            };

            $.ajax({
                type: "POST",
                url: "/point",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function (result) {
                    console.log("Add Point:");
                    if (points == undefined) {
                        points = result;
                    } else {
                        for (let key in points) {
                            points[key].push(result[key][0]);
                        }
                    }
                    let divContainer = document.getElementById("point-table");
                    jsonToTable(points, divContainer);
                    redrawPlot();
                },
                error: function (request) {
                    alert("Error\n" + JSON.parse(request.responseText).message);
                }
            });
        }

        function redrawPlot() {
            let plotobj = document.getElementById('testplot');

            let x_scale;
            let y_scale;

            if (x_prop == 'v'){
                x_scale = 'log';
            } else {
                x_scale = 'linear';
            }
            if (y_prop == 'p'){
                y_scale = 'log';
            } else {
                y_scale = 'linear';
            }

            let layout = {
                xaxis: {
                    type: x_scale,
                    autorange: true
                },
                yaxis: {
                    type: y_scale,
                    autorange: true
                },
                margin: { t: 0 }
            };

            let data = [];
            // add the critical point
            data.push({
                    x: crit_pt[x_prop],
                    y: crit_pt[y_prop],
                    name: 'critical point'
            });
            // add isobars
            isobars.forEach(addLine);
            function addLine(isobar){
                data.push({
                    x: isobar[x_prop],
                    y: isobar[y_prop],
                    text: isobar['p'][0],
                    showlegend: false,
                    line: {
                        color: 'rgb(0, 155, 0)',
                        width: 3
                    }
                });
            }
            if (points != undefined){
            // add points
                data.push({
                    x: points[x_prop],
                    y: points[y_prop],
                    mode: 'markers',
                    marker:{
                        size: 5,
                    },
                    showlegend: false,
                });
            }

            // add the steam dome
            data.push({
                    x: steam_dome[0][x_prop].concat(steam_dome[1][x_prop]),
                    y: steam_dome[0][y_prop].concat(steam_dome[1][y_prop]),
                    showlegend: false,
                    line: {
                        color: 'rgb(0, 0, 0)',
                        width: 3
                    }
            });




            Plotly.newPlot( plotobj, data, layout);
        }
    </script>

{% endblock %}
