{% extends "nav.html" %}
{% block content %}
    <div id="sidebar">
    <h3>Select Substance</h3>
        <select id="sel-substance">
            {% for subst in subst_list %}
                <OPTION value={{subst}}>{{subst}}</option>
            {% endfor %}
        </select>
        <button id="btnDetails" onclick="getSubstInfo();">Details</button>
    </div>
    <br>

    <br><br>
    <div id="subst-info">
      <h3>Results</h3>
        Critical Point Properties
        <p id="critical-table"></p>
      <br>
    </div>

    <div id="testplot" style="width:600px;height:400px;"></div>

    <script>

        var crit_pt;
        var steam_dome;
        var isobar;
        var x_prop = 's';
        var y_prop = 'T';

    function jsonToTable(data, targetContainer){
        var col = [];
        for (var key in data) {
            col.push(key);
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < data[key].length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = data[col[j]][i].toFixed(2);
            }
        }
        targetContainer.innerHTML = "";
        targetContainer.appendChild(table);
    }


    function getSubstInfo() {
        var subst = document.getElementById("sel-substance").value;
        var divContainer = document.getElementById("critical-table");
        var server_data = {"subst": subst};

        $.ajax({
            type: "POST",
            url: "/subst_info",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                console.log("Result:");
                console.log(result);
                crit_pt = result;
                jsonToTable(crit_pt, divContainer);
            }
        });
        $.ajax({
            type: "POST",
            url: "/steam_dome",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                console.log("Result:");
                console.log(result);
                steam_dome = result;
                // generate_plot()
            }
        });
        $.ajax({
            type: "POST",
            url: "/isobars",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                console.log("Result:");
                console.log(result);
                isobar = result;
                generate_plot();
            }
        });
        var infoContainer = document.getElementById("subst-info");
        infoContainer.style.display = "block";
        var plotContainer = document.getElementById("testplot");
        plotContainer.style.display = "block";
    }

    function generate_plot() {
        var plotobj = document.getElementById('testplot');

        if (x_prop == 'v'){
            x_scale = 'log';
        } else {
            x_scale = 'linear';
        }
        if (y_prop == 'p'){
            y_scale = 'log';
        } else {
            y_scale = 'linear';
        }

        var layout = {
            xaxis: {
                type: x_scale,
                autorange: true
            },
            yaxis: {
                type: y_scale,
                autorange: true
            },
            margin: { t: 0 }
        };

        data = [
            {
                x: crit_pt[x_prop],
                y: crit_pt[y_prop],
                name: 'critical point'
            },
            {
                x: steam_dome[0][x_prop].concat(steam_dome[1][x_prop].reverse()),
                y: steam_dome[0][y_prop].concat(steam_dome[1][y_prop].reverse()),
                name: 'steam dome',
                line: {
                    color: 'rgb(0, 0, 0)',
                    width: 3
                }
            },
            {
                x: isobar[x_prop],
                y: isobar[y_prop],
                name: 'isobar',
                line: {
                    color: 'rgb(0, 155, 0)',
                    width: 3
                }
            }
        ]

        Plotly.newPlot( plotobj, data, layout);
    }
    </script>

{% endblock %}
